/*-------------------------------general-------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

html {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #555555;
}

h1 {
	font-size: 3rem;
	font-weight: 300;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

h3 {
	font-size: 1.75rem;
	font-weight: 700;
}

h4 {
	font-size: 1.5rem;
	font-weight: 400i;
}

* {
	padding: 0;
	margin: 0;
}

.visible {
	visibility: visible;
}
/*-------------------------------home.php-------------------------------*/
header {
	background-color: #45aaf2;
	height: auto;
	text-align: center;
	padding: 3rem;
	position: relative;
	color: white;
}

.button {
	position: absolute;
	background-color: white;
	border: none;
	outline: none;
	border-radius: 5px;
	color: #555;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.3rem;
}

.text-field {
	position: absolute;
	background-color: white;
	border: none;
	outline: none;
	color: #555;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.3rem;
}

#logout {
	right: 2rem;
	top: 4.5rem;
}

#invite {
	right: 2rem;
	top: 2rem;
}

#friend-name {
	right: 8.5rem;
	top: 2rem;
}

.button:hover {
	opacity: 0.8;
	cursor: pointer;
}

main {
	width: 1200px;
	height: auto;
	padding: 4rem 2rem 6rem 2rem;
	margin: 0 auto;
	background-color: #ededed;
}

.chess-plate {
	margin-top: 4rem;
	position: relative;
	height: auto;
	width: auto;
	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	user-select: none;
	transition: transform 1s ease; 
}

.js-chessField {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 800px;
	transition: all 0.7s ease-in-out;
}

.js-chessField tr td {
	width: 10%;
	height: 10%;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	border: solid black 1px;
}

.js-chessField tr td.valid {
	opacity: 0.7;
}

.js-chessField tr td.killable {
	background-color: rgba(255, 50, 50, 0.5);
}

/*------- figure-start --------*/

.js-figure {
	width: 100%;
	height: 100%;
	position: relative;
	transition: left 1s ease, top 1s ease;
	text-indent: -200000px;
	display: block;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50px;
	transition: transform 1s ease; 
}

.js-figure.active {
	background-color: rgba(255, 255, 255, 0.3);
}

.js-figure.figure--pawn.black {
	background-image: url(../img/pawn-black.svg);
}

.js-figure.figure--pawn.white {
	background-image: url(../img/pawn-white.svg);
}

.js-figure.figure--bishop.black {
	background-image: url(../img/bishop-black.svg);
}

.js-figure.figure--bishop.white {
	background-image: url(../img/bishop-white.svg);
}

.js-figure.figure--knight.black {
	background-image: url(../img/knight-black.svg);
}

.js-figure.figure--knight.white {
	background-image: url(../img/knight-white.svg);
}

.js-figure.figure--rook.black {
	background-image: url(../img/rook-black.svg);
}

.js-figure.figure--rook.white {
	background-image: url(../img/rook-white.svg);
}

.js-figure.figure--queen.black {
	background-image: url(../img/queen-black.svg);
}

.js-figure.figure--queen.white {
	background-image: url(../img/queen-white.svg);
}

.js-figure.figure--king.black {
	background-image: url(../img/king-black.svg);
}

.js-figure.figure--king.white {
	background-image: url(../img/king-white.svg);
}

/*------- figure-end --------*/

.js-field {
	margin: 0;
	background-color: burlywood;
}

.js-figureSelectOverlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.js-figureSelectOverlay.active {
	display: block;
}

.js-figureSelectOverlay .choose-figure {
	position: relative;
	height: 100px;
	width: 200px;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	padding: 20px;
	animation: fadein-top 0.5s ease;
}

.storage {
	width: 100%;
	height: 90px;
	border: solid 1px #555;
	background-color: #ededed;
	text-align: center;
	overflow-x: auto;
	transition: 0.5s ease-in all;
}

.storage div {
	height: 80px;
	width: 80px;
	display: inline-block;
}

.turn, .turn .js-figure { 
	transform: rotate(180deg);
	transform-origin: center center;
}

footer {
	background-color: #2d98da;
	text-align: center;
	padding: 2rem;
	color: white;
}

/*----- Animations -----*/
@keyframes fadein-top {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: translateY(-50%);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}